<div class="container cuadro">
    <form action="">
    <h1>Login</h1>
    <div class="row ">
       <label for="nom" class="col-sm-1 col-form-label">Nombre:</label>
       <div class="col-10">
        <input type="text" class="form-control" id="nom">
       </div>
    </div>
    <br>
    <div class="row ">
        <label for="inputPassword3" class="col-sm-1 col-form-label">Password:</label>
       <div class="col-10">
        <input type="password" class="form-control" id="inputPassword3">
       </div>
    </div> 
    <br> 
  <button type="button" class="btn btn-info">login</button>
  </form> 
     
</div>
