.container{
 border-radius: 6px;
 
 height: 270px;
 margin-top: 50px;
 width:700px ;
}
h3{
    background-color: rgba(198, 198, 248, 0.772);
    padding: 6px;
    border-radius: 4px;
    font-size: 25px;
}

.cuadro{
    margin-left: 5px;
}
.alert{
   font-size: 25px;
   font-family:sans-serif ;  
   margin: 5px;
}
.alert1{
    font-size: 25px;
    font-family:sans-serif ; 
    padding-left: 30px; 
    color: brown;  
}